@use '../../../../styles/helpers/index' as *;

.content {
  position: relative;
  padding-bottom: calc(60px - 60 * (1024px - 100vh) / 1024);

  &__background {
    --backgroundHeight: min(calc(100vw * 850/1160), 850px);

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: var(--backgroundHeight);
    aspect-ratio: 1160/850;

    &-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      overflow: hidden;
    }
  }
}