@use '../helpers' as *;

.logo {
  & img {
    width: 60px;
    aspect-ratio: 1;
    border-radius: 10px;
    border: 3px solid var(--color-light);

    @include tablet {
      border-width: 2px;
      width: 50px;
    }

    @include mobile {
      border-width: 1px;
      width: 40px;
    }

    @include mobile-s {
      width: 30px;
    }
  }
}